config SECURITY_LANDLOCK
	bool "Landlock sandbox support"
	depends on SECURITY
	depends on BPF_SYSCALL
	depends on SECCOMP_FILTER
	default y
	help
	  Landlock is a stackable LSM which allows to load a security policy to
	  restrict processes (i.e. create a sandbox). The policy is a list of
	  stacked eBPF programs, called rules, dedicated to restrict access to
	  a type of kernel object (e.g. file).

	  You need to enable seccomp filter to apply a security policy to a
	  process hierarchy (e.g. application with built-in sandboxing).

	  See Documentation/security/landlock/ for further information.

	  If you are unsure how to answer this question, answer Y.
